@charset "UTF-8";

body {
	font-family: 'Montserrat', sans-serif;
    /*font-family: 'Open Sans', sans-serif;*/
    font-size: 12pt;
}
 
.navbar {
	border-radius: 0px;
	padding: 0px 15px;
	margin-bottom: 0px;
	min-height: 70px;
	font-size: 20px;
	box-shadow: 0px 3px 7px #333333;
}

span.rosa {
	color: #ff5252;
}

.navbar-inverse {
	background-color: #ff5252;
	border: hidden;
}

.navbar-brand {
	height: 70px;
	padding: 20px;
	color: #ffffff;
	font-size: 20pt;
}

.navbar-inverse .navbar-brand {
    color: #ffffff;
}

.navbar-inverse .navbar-nav > li > a {
	color: #ffffff;
}

.nav > li > a {
	height: 70px;
	padding: 20px;	
}

.carousel {
	margin-top: 70px;
}

.carousel-indicators li {
	width: 20px;
	height: 20px;
}

.carousel-indicators .active {
	width: 20px;
	height: 20px;
}

.footer {
	line-height: 80px;
	background-color: #f0f0f0;
	position: absolute;
	width: 100%;
	margin-top: 20px;
	text-align: center;
}

.container {
	width: auto;
	margin-right: auto;
	margin-left: auto;
}

.secao {
	padding: 70px 90px 0px 90px;
}

ul {
	margin-left: -15px;
}

#contato {
	padding-bottom: 130px;
}

.text-muted {
    color: #555;
}

h1 {
	font-size: 40pt;
	text-align: center;
	margin-bottom: 55px;
	border-bottom: 3px solid #ff5252;
	line-height: 200%;
}

h2 {
	font-size: 22pt;
}

p {
	font-size: 12pt;
}

img {
	margin-bottom: 20px;
}
